body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}

main {
	background-color: rgb(255, 255, 255);
	flex: 1;
}

.content {
	width: 2000px;
	padding: 1.25rem 0 3.125rem;
	flex: 1;
}

.info {
	padding: 15px 0;
	border-bottom: 1px solid #efefef;
	width: 180px; -
	-bs-border-opacity: .5;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image-info {
	width: 50px;
	height: 50px;
}

footer {
	flex-shrink: 0;
}

.content-info {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding-left: 15px;
	overflow: hidden;
}

.account {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	min-height: 1rem;
	font-weight: 600;
	margin-bottom: 5px;
	color: #333;
}

.change-account {
	color: #888;
	text-transform: capitalize;
	text-decoration: none;
}

.right-box {
	position: relative;
	display: block;
	flex-grow: 1;
	width: 980px;
	box-sizing: border-box;
	margin-left: 1.6875rem;
	min-width: 0;
	min-height: 100px;
	background: #fff;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .13);
	border-radius: 0.125rem;
}

.nav-link {
	margin: auto;
}

.nav-item {
	padding-top: 20px;
}

.space {
	display: flex;
	position: absolute;
	width: 100%;
	height: 40px;
	background-color: rgb(248, 249, 250);
}

.info-product {
	flex-direction: column;
	top: 8%;
	margin-top: 50px;
	margin-bottom: 10px;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
	border-radius: 0.125rem;
	width: 100%;
	background-color: rgb(248, 249, 250);
}

.product-image {
	width: 80px;
	height: 80px;
	flex-shrink: 0;
	border: 1px solid #e1e1e1;
	background: #e1e1e1;
}

.product-detail {
	padding-left: 15px;
	background-color: #fffcfc;
	padding-top: 15px;
	border-bottom: 1px solid #eeeded;
}

.product-id {
	font-size: 20px;
	font-weight: 600;
}

.product-category {
	font-size: 15px;
	font-weight: 300;
}

.product-money {
	width: 110px;
	height: 110px;
}

.product-address {
	background-color: #fffcfc;
	padding-top: 10px;
}

.address {
	font-size: 20px;
	font-weight: 600;
}

.phone .name {
	font-size: 15px;
	font-weight: 400;
}

.product-status {
	width: 110px;
	height: 110px;
}

.border {
	border: #fff;
}

.product-button {
	background-color: #fffcfc;
}

.btn .btn-success {
	margin-left: 700px;
	margin-bottom: 30px;
}

.product {
	border-bottom: 3px solid #333;
}

.edit {
	width: 780px;
	align-items: center;
	margin-left: 20px;
}

.section-title {
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 10px;
	position: relative;
	display: inline-block;
}

.image-container {
	width: 350px;
	height: 300px;
	text-align: center;
	margin-top: 60px;
}

.image-container img {
	max-width: 100%;
	max-height: 100%;
}

.content-info {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding-left: 15px;
	overflow: hidden;
}

.image-info {
	width: 50px;
	height: 50px;
}

.image-info {
	width: 50px;
	height: 50px;
}

.text-primary {
	color: #ceaa4d !important;
}

.text-secondary {
	color: #15395A !important;
}

.font-weight-600 {
	font-weight: 600;
}

.display-26 {
	font-size: 1.3rem;
}

@media screen and (min-width: 992px) {
	.p-lg-7 {
		padding: 4rem;
	}
}

@media screen and (min-width: 768px) {
	.p-md-6 {
		padding: 3.5rem;
	}
}

@media screen and (min-width: 576px) {
	.p-sm-2-3 {
		padding: 2.3rem;
	}
}

.col-lg-6 img {
	max-width: 100%; /* Ảnh không vượt quá chiều rộng của cha */
	height: auto; /* Đảm bảo tỷ lệ chiều cao được giữ nguyên */
}

.bg-secondary {
	background: #15395A !important;
}

@media screen and (min-width: 576px) {
	.pe-sm-6, .px-sm-6 {
		padding-right: 3.5rem;
	}
}

@media screen and (min-width: 576px) {
	.ps-sm-6, .px-sm-6 {
		padding-left: 3.5rem;
	}
}

.pe-1-9, .px-1-9 {
	padding-right: 1.9rem;
}

.ps-1-9, .px-1-9 {
	padding-left: 1.9rem;
}

.pb-1-9, .py-1-9 {
	padding-bottom: 1.9rem;
}

.pt-1-9, .py-1-9 {
	padding-top: 1.9rem;
}

.mb-1-9, .my-1-9 {
	margin-bottom: 1.9rem;
}

@media ( min-width : 992px) {
	.d-lg-inline-block {
		display: inline-block !important;
	}
}

.edit {
	margin-left: 20px;
}

.px-xl-10 {
	width: 700px;
}

.nav-link {
	color: rgb(0, 0, 0)
}

.nav-link:hover {
	color: #0d6efd;
}

.me-2 {
	width: 210px;
	text-align: right;
}

.tab-content {
	width: 1110px;
}

#v-pills-order-tab {
	margin-bottom: 20px;
}