.total-payment-container {
	background-color: #ffffff; /* Màu trắng */
	border-radius: 5px; /* Bo tròn góc nếu cần thiết */
}

.total-payment {
	font-size: 25px; /* Đặt kích thước chữ cho "Tổng tiền thanh toán" */
	margin-bottom: 20px;
}

.amount {
	color: #007bff; /* Đặt màu xanh cho số tiền */
}

.user-details-content {
	display: flex;
}

.user-details {
	width: 80%;
	padding: 20px;
}

/*CONTAINER*/
.container {
	margin: auto;
	display: flex;
	width: 1200px;
}

/* Phần "list-group" chiếm 20% chiều rộng của trang */
.user__list {
	width: 20%;
}

/* Phần "user-details" chiếm 80% còn lại */
.user-details {
	width: 80%;
	padding: 20px;
}

.fas {
	margin: 10px;
}

.user-details-title {
	padding: 18px 0px;
}

.user-details-content {
	display: flex;
}

.user-details-left {
	width: 70%;
	/*thụt lề */
	padding-right: 50px;
	padding-left: 50px;
}

.user-details-right {
	width: 30%;
	/*cho phần tử căn giữa */
	justify-content: center;
	display: flex;
}

.user-details-right-img {
	text-align: center;
	position: relative;
	flex: 1;
	height: 50%;
	/* Đặt đường kẻ trái với kiểu inset và độ rộng 1px */
	border-left-style: inset;
	border-left-width: 1px;
	border-left-color: #6c757d;
}

.user-details-title h1 {
	border-bottom-style: inset;
	border-bottom-width: 1px;
	border-bottom-color: #6c757d;
}

.user-details-right img {
	vertical-align: middle;
	width: 120px;
	align-items: center;
	display: flex;
	border-radius: 50%;
	display: inline-block;
}

.user__id img {
	vertical-align: middle;
	width: 50px;
	margin-right: 15px;
}

.user__id {
	text-align: center;
}

.user__id p {
	display: inline-block;
}

.btn btn-primary {
	padding: 0, 50px;
}

.user-details-right-img button {
	display: block;
	align-self: center;
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*thử */
#submenu {
	display: none;
	position: absolute;
	left: -100%; /* Sử dụng giá trị âm để ẩn ban đầu */
}

.show-submenu {
	display: block;
	position: static;
}