.carousel-item {
	height: 500px;
}

#banner_sapramat {
	max-width: 40%;
	height: 40%;
}

.container {
	padding-bottom: 25px;
	padding-top: 25px;
}

.session_header {
	font-size: 2rem;
	text-align: center;
	margin-bottom: 20px;
}

.appshell-fp-82yc81 {
	background: rgb(178, 175, 239);
	border-radius: 50%;
	height: 392px;
	opacity: 0.2;
	position: absolute;
	right: -136px;
	top: -40px;
	width: 392px;
	z-index: -1;
}

.btn {
	display: inline-flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	position: relative;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	background-color: #F1EAFF;
	outline: 0px;
	margin: 0px;
	cursor: pointer;
	user-select: none;
	vertical-align: middle;
	appearance: none;
	text-decoration: none;
	font-weight: bold;
	font-family: SansOri, SansOriFallback, sans-serif;
	text-transform: uppercase;
	min-width: 64px;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
		box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	box-shadow: none;
	color: rgb(51, 51, 51);
	border-radius: 25px;
	line-height: 1.386;
	padding: 6px 12px;
	font-size: 1rem;
	height: 36px;
	text-align: center;
	grid-area: title;
	place-self: center start;
}

#banner_news {
	max-width: 50%;
	height: 50%;
}

.row_paragraph {
	max-width: 50%;
	height: 50%;
}

#Presentation-beauty-edit-logo {
	margin-bottom: 10px;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.centered-text {
	max-width: 600px;
	text-align: center;
}

.container_misson img {
	width: 98%;
	margin-right: 1px;
}

.container_news {
	width: 100%;
}

.commit_div {
	width: 100%;
	height: 300px;
	contain: layout;
	margin-top: 50px;
}

.commit_section {
	margin-block-end: 100px;
	padding: 50px 30px 30px;
	-webkit-box-align: center;
	align-items: center;
	background: rgba(178, 175, 239, 0.2);
	box-sizing: border-box;
	color: rgb(85, 85, 85);
	display: flex;
	flex-direction: column;
	margin-block-end: 60px;
	padding: 30px;
	width: 100%;
}

.commit_ul {
	display: flex;
	flex-direction: row;
	gap: 20px;
	-webkit-box-pack: justify;
	justify-content: space-between;
	max-width: 1100px;
	width: 100%;
}

.commit_li {
	text-align: center;
	list-style: none;
}

.commit_img {
	flex: 0 0 47px;
}

.commit_content {
	width: 250px;
}

.commit_title {
	margin: 0px;
	font-size: 17px;
	font-weight: bold;
	font-family: SansOri, SansOriFallback, sans-serif;
	line-height: 1.6;
}

.row h3 {
	max-height: 600px;
}

.grid_template {
	display: grid;
	grid-template-areas: "header header header header header"
		"detail detail detail detail detail" "img1 img2 img3 img4 img5";
	align-items: center;
	width: 1000px;
	margin: 0 auto;
}

.item1 {
	text-align: center;
	grid-area: header;
	align-items: center;
}

.item2 {
	text-align: center;
	grid-area: detail;
	padding-left: 200px;
	padding-right: 200px;
}

.item3 {
	width: 100%;
	grid-area: img1;
}

.item4 {
	width: 100%;
	grid-area: img2;
}

.item5 {
	width: 100%;
	grid-area: img3;
}

.item6 {
	width: 100%;
	grid-area: img4;
}

.item7 {
	width: 100%;
	grid-area: img5;
}

.icon {
	align-items: center;
	margin: 10px;
}

.ratings {
	margin-top: 20px;
	display: flex;
	align-items: center;
	margin-right: 10px;
}

.ratings i {
	color: #cecece;
	font-size: 20px;
}

.rating-color {
	color: #fbc634 !important;
}

.review-count {
	margin-top: 20px;
	font-weight: 400;
	margin-bottom: 2px;
	font-size: 12px !important;
}

.small-ratings i {
	color: #cecece;
}

.review-stat {
	font-weight: 300;
	font-size: 12px;
	margin-bottom: 2px;
}

.card {
	width: auto;
	height: auto;
	align-items: center;
	margin-bottom: 25px;
	margin: 10px;
}

.card__Name {
	margin-top: 20px;
	font-size: 20px!important;
	width: 250px;
}

.card__Text{
	font-size: 15px!important;
	width: 250px;
}
.card__Price{
	font-size: 30px!important;
	width: 250px;
}
.card-text {
	font-size: 40px;
	width: 250px;
}

.card-img-top {
	object-fit: cover;
	width: 200px;
	height: 200px;
	/* Chiều cao cố định cho hình ảnh */
}

.card-body {
    position: relative;
	padding: 0px;
}

.card h5 {
	font-size: 12px;
}

.card p {
	font-size: 10px;
}

.card_news {
	height: 450px;
	align-items: center;
	padding: 0px;
	margin: 20px;
}

.card-img-top_news {
	width: 500px;
}

.card-body_news {
	padding: 0px;
}

.card_news h5 {
	font-size: 20px;
}

.card_news p {
	font-size: 15px;
}

.card-text_news {
	padding: 10px 0px;
	margin: 0;
}

.grid {
	align-items: center;
}

/* .carousel{
    width: 1200px;
} */
.product_detail_ratings {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: max-content;
}

.rating-title {
	margin-bottom: 2px;
	/* Khoảng cách giữa tiêu đề và rating bar */
}

.breadcrumb ol {
	padding-top: 5px;
	text-align: center;
	justify-content: center;
}

/* 
.col-lg-6.quantity {
    display: flex;
    align-items: center;
    gap: 0px;
    background-color: #f2f2f2;
    border-radius: 23px;
}
.col-lg-6.decrease-quantity, .col-lg-6.increase-quantity{
    margin: 10px;
    border-radius: 3px;
    border: 1px;
}
.col-lg-6.item-quantity{
    border-radius: 3px;
    width: 50px;
    border: 1px;
}
.col-lg-6.add-to-cart {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 23px;
    padding: 10px 20px;
    cursor: pointer;
} */

/* Accordion */
.accordion-item {
	border: 0px;
}

.accordion-button {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	padding: 1rem 1.25rem;
	font-size: 1rem;
	color: #212529;
	background-color: transparent;
	border: 0px;
	border-radius: 0;
	overflow-anchor: none;
}

.accordion-button:focus {
	outline: 0;
	box-shadow: none;
	background-color: transparent;
}

.accordion-button:not(.collapsed) {
	color: #012970;
	background-color: transparent;
}

.accordion-flush .accordion-button {
	padding: 15px 0;
	background: none;
	border: 0;
}

.accordion-flush .accordion-button:not(.collapsed) {
	box-shadow: none;
	color: #4154f1;
}

.accordion-flush .accordion-body {
	padding: 0 0 15px 0;
	color: transparent;
	font-size: 15px;
}

@media (max-width: 992px) {
	.card {
		width: 100%;
	}
}

@media (max-width: 768px) {
	.card {
		display: none;
	}
}


.centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.comment-time{
	padding: 0px;
	margin: 0px;
}
.review-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review {
  border-radius: 5px;
  padding: 10px;
  margin: 0px!important;
  max-width: 600px;
}

.user-info {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  flex-wrap: wrap;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.name_star {
  text-align: center;
  width: 100%;
}

.user-name {
	text-align: left;
  margin: 5px;
}

.star-rating {
	text-align: left;
  margin-top: 5px;
}

.star {
  color: #ffd700;
}
.name_star{
	justify-content: left;
}